@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DotGothic16", serif;

}

:root {
    --text-color: black;
    --accent-color: #a5c7cf;
    scroll-behavior: smooth;
}

img {
    display: block;
    max-width: 100%;
}